<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fire1_0021.png</key>
			<dict>
				<key>width</key>
				<integer>605</integer>
				<key>height</key>
				<integer>421</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-32.5</real>
				<key>offsetY</key>
				<real>18.5</real>
			</dict>
			<key>fire1_0029.png</key>
			<dict>
				<key>width</key>
				<integer>692</integer>
				<key>height</key>
				<integer>333</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>423</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>20.5</real>
			</dict>
			<key>fire1_0037.png</key>
			<dict>
				<key>width</key>
				<integer>359</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>607</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-132.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>fire1_0038.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>234</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>758</integer>
				<key>offsetX</key>
				<real>-204.5</real>
				<key>offsetY</key>
				<real>-25</real>
			</dict>
			<key>fire1_0040.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>251</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>225</integer>
				<key>y</key>
				<integer>758</integer>
				<key>offsetX</key>
				<real>-206</real>
				<key>offsetY</key>
				<real>-35.5</real>
			</dict>
			<key>fire1_0041.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>245</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>694</integer>
				<key>y</key>
				<integer>286</integer>
				<key>offsetX</key>
				<real>-207.5</real>
				<key>offsetY</key>
				<real>-25.5</real>
			</dict>
			<key>fire1_0042.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>439</integer>
				<key>y</key>
				<integer>758</integer>
				<key>offsetX</key>
				<real>-212</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>fire1_0043.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>694</integer>
				<key>y</key>
				<integer>533</integer>
				<key>offsetX</key>
				<real>-204</real>
				<key>offsetY</key>
				<real>-29.5</real>
			</dict>
			<key>fire1_0044.png</key>
			<dict>
				<key>width</key>
				<integer>218</integer>
				<key>height</key>
				<integer>230</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>687</integer>
				<key>y</key>
				<integer>768</integer>
				<key>offsetX</key>
				<real>-203</real>
				<key>offsetY</key>
				<real>-26</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>planetar_adventure9.png</string>
			<key>realTextureFileName</key>
			<string>planetar_adventure9.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>