<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fire1_0030.png</key>
			<dict>
				<key>width</key>
				<integer>654</integer>
				<key>height</key>
				<integer>311</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>fire1_0031.png</key>
			<dict>
				<key>width</key>
				<integer>544</integer>
				<key>height</key>
				<integer>285</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>313</integer>
				<key>offsetX</key>
				<real>-46</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>fire1_0032.png</key>
			<dict>
				<key>width</key>
				<integer>674</integer>
				<key>height</key>
				<integer>283</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>600</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>92.5</real>
			</dict>
			<key>fire1_0045.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>234</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>656</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-204.5</real>
				<key>offsetY</key>
				<real>-25</real>
			</dict>
			<key>ship2.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>277</integer>
				<key>originalWidth</key>
				<integer>272</integer>
				<key>originalHeight</key>
				<integer>277</integer>
				<key>x</key>
				<integer>546</integer>
				<key>y</key>
				<integer>313</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>planetar_adventure10.png</string>
			<key>realTextureFileName</key>
			<string>planetar_adventure10.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>