<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fire2_0030.png</key>
			<dict>
				<key>width</key>
				<integer>498</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>44</real>
				<key>offsetY</key>
				<real>16</real>
			</dict>
			<key>fire2_0032.png</key>
			<dict>
				<key>width</key>
				<integer>520</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>29</real>
			</dict>
			<key>fire2_0033.png</key>
			<dict>
				<key>width</key>
				<integer>506</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>374</integer>
				<key>offsetX</key>
				<real>47</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>fire2_0034.png</key>
			<dict>
				<key>width</key>
				<integer>473</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>577</integer>
				<key>offsetX</key>
				<real>70.5</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>fire2_0035.png</key>
			<dict>
				<key>width</key>
				<integer>437</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>522</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>99.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>fire2_0036.png</key>
			<dict>
				<key>width</key>
				<integer>373</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>522</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>105.5</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>fire2_0037.png</key>
			<dict>
				<key>width</key>
				<integer>302</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>785</integer>
				<key>offsetX</key>
				<real>145</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>fire2_0042.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>212.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>fire2_0044.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>304</integer>
				<key>y</key>
				<integer>785</integer>
				<key>offsetX</key>
				<real>210</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>fire2_0045.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>721</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>211</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>fire1_0005.png</key>
			<dict>
				<key>width</key>
				<integer>320</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>475</integer>
				<key>y</key>
				<integer>646</integer>
				<key>offsetX</key>
				<real>-160</real>
				<key>offsetY</key>
				<real>61.5</real>
			</dict>
			<key>fire1_0026.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>797</integer>
				<key>y</key>
				<integer>622</integer>
				<key>offsetX</key>
				<real>-212.5</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>fire1_0039.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>472</integer>
				<key>y</key>
				<integer>825</integer>
				<key>offsetX</key>
				<real>-201</real>
				<key>offsetY</key>
				<real>-28.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>planetar_adventure5.png</string>
			<key>realTextureFileName</key>
			<string>planetar_adventure5.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>