<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fire1_0018.png</key>
			<dict>
				<key>width</key>
				<integer>575</integer>
				<key>height</key>
				<integer>506</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-61.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>fire1_0019.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>435</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>508</integer>
				<key>offsetX</key>
				<real>-85</real>
				<key>offsetY</key>
				<real>20.5</real>
			</dict>
			<key>fire1_0022.png</key>
			<dict>
				<key>width</key>
				<integer>492</integer>
				<key>height</key>
				<integer>364</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>508</integer>
				<key>offsetX</key>
				<real>-86</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>fire1_0028.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>577</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-212</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>ship2_light.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>825</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>planetar_adventure8.png</string>
			<key>realTextureFileName</key>
			<string>planetar_adventure8.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>