<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fire2_0008.png</key>
			<dict>
				<key>width</key>
				<integer>386</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>34</real>
				<key>offsetY</key>
				<real>16</real>
			</dict>
			<key>fire2_0010.png</key>
			<dict>
				<key>width</key>
				<integer>282</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>89</real>
				<key>offsetY</key>
				<real>33</real>
			</dict>
			<key>fire2_0015.png</key>
			<dict>
				<key>width</key>
				<integer>422</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>388</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>35</real>
			</dict>
			<key>fire2_0016.png</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>284</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>38</real>
				<key>offsetY</key>
				<real>31.5</real>
			</dict>
			<key>fire2_0017.png</key>
			<dict>
				<key>width</key>
				<integer>594</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>369</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>28.5</real>
			</dict>
			<key>fire2_0018.png</key>
			<dict>
				<key>width</key>
				<integer>578</integer>
				<key>height</key>
				<integer>216</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>544</integer>
				<key>offsetX</key>
				<real>31</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>fire2_0019.png</key>
			<dict>
				<key>width</key>
				<integer>509</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>762</integer>
				<key>offsetX</key>
				<real>65.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>fire2_0023.png</key>
			<dict>
				<key>width</key>
				<integer>492</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>511</integer>
				<key>y</key>
				<integer>762</integer>
				<key>offsetX</key>
				<real>74</real>
				<key>offsetY</key>
				<real>16</real>
			</dict>
			<key>fire2_0024.png</key>
			<dict>
				<key>width</key>
				<integer>429</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>580</integer>
				<key>y</key>
				<integer>544</integer>
				<key>offsetX</key>
				<real>81.5</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>fire2_0025.png</key>
			<dict>
				<key>width</key>
				<integer>344</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>596</integer>
				<key>y</key>
				<integer>369</integer>
				<key>offsetX</key>
				<real>104</real>
				<key>offsetY</key>
				<real>28.5</real>
			</dict>
			<key>fire2_0039.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>812</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>216.5</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>fire2_0040.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>812</integer>
				<key>y</key>
				<integer>157</integer>
				<key>offsetX</key>
				<real>208.5</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>frame1_part9_0009.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>511</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>frame1_part9_0010.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>707</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>planetar_adventure3.png</string>
			<key>realTextureFileName</key>
			<string>planetar_adventure3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>