<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fire2_0020.png</key>
			<dict>
				<key>width</key>
				<integer>611</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>fire2_0021.png</key>
			<dict>
				<key>width</key>
				<integer>571</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>32.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>fire2_0022.png</key>
			<dict>
				<key>width</key>
				<integer>533</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>451</integer>
				<key>offsetX</key>
				<real>50.5</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>fire2_0026.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>613</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>175.5</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>fire2_0027.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>658</integer>
				<key>offsetX</key>
				<real>188.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>fire2_0028.png</key>
			<dict>
				<key>width</key>
				<integer>268</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>573</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>184</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>fire2_0029.png</key>
			<dict>
				<key>width</key>
				<integer>541</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>239</integer>
				<key>y</key>
				<integer>658</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>fire2_0031.png</key>
			<dict>
				<key>width</key>
				<integer>427</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>535</integer>
				<key>y</key>
				<integer>451</integer>
				<key>offsetX</key>
				<real>82.5</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>fire2_0041.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>782</integer>
				<key>y</key>
				<integer>654</integer>
				<key>offsetX</key>
				<real>210</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>fire2_0043.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>843</integer>
				<key>y</key>
				<integer>203</integer>
				<key>offsetX</key>
				<real>212.5</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>fire1_0003.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>111</real>
				<key>offsetY</key>
				<real>134</real>
			</dict>
			<key>fire1_0004.png</key>
			<dict>
				<key>width</key>
				<integer>245</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>330</integer>
				<key>y</key>
				<integer>856</integer>
				<key>offsetX</key>
				<real>17.5</real>
				<key>offsetY</key>
				<real>122.5</real>
			</dict>
			<key>fire1_0011.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>864</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-262</real>
				<key>offsetY</key>
				<real>51</real>
			</dict>
			<key>frame1_part4.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>577</integer>
				<key>y</key>
				<integer>856</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>frame1_part2.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>187</integer>
				<key>originalHeight</key>
				<integer>187</integer>
				<key>x</key>
				<integer>746</integer>
				<key>y</key>
				<integer>862</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>planetar_adventure4.png</string>
			<key>realTextureFileName</key>
			<string>planetar_adventure4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>