<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>change_item0009.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>change_item0002.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>change_item0003.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>121</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>change_item0004.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>change_item0005.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>change_item0006.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>change_item0007.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>134</integer>
				<key>y</key>
				<integer>239</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>change_item0008.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>133</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>change_item0010.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>280</integer>
				<key>y</key>
				<integer>292</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>change_item0011.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>436</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>change_item0012.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>589</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>change_item0013.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>430</integer>
				<key>y</key>
				<integer>292</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>change_item0014.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>588</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>change_item0015.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>787</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>change_item0016.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>787</integer>
				<key>y</key>
				<integer>173</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>change_item0017.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>787</integer>
				<key>y</key>
				<integer>338</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>change_item0018.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>461</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>change_item0019.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>136</integer>
				<key>y</key>
				<integer>398</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>change_item0020.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>624</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>change_item0021.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>136</integer>
				<key>y</key>
				<integer>559</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>change_item0022.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>443</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>fx_fort_change0.png</string>
			<key>realTextureFileName</key>
			<string>fx_fort_change0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>