<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim01_win0012.png</key>
			<dict>
				<key>width</key>
				<integer>839</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>anim01_win0013.png</key>
			<dict>
				<key>width</key>
				<integer>880</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>204</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>anim01_win0014.png</key>
			<dict>
				<key>width</key>
				<integer>730</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>408</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>anim01_win0015.png</key>
			<dict>
				<key>width</key>
				<integer>730</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>623</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>anim_lose1.png</string>
			<key>realTextureFileName</key>
			<string>anim_lose1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>