<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xunbao_fx10039.png</key>
			<dict>
				<key>width</key>
				<integer>490</integer>
				<key>height</key>
				<integer>301</integer>
				<key>originalWidth</key>
				<integer>490</integer>
				<key>originalHeight</key>
				<integer>301</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xunbao_fx10040.png</key>
			<dict>
				<key>width</key>
				<integer>490</integer>
				<key>height</key>
				<integer>301</integer>
				<key>originalWidth</key>
				<integer>490</integer>
				<key>originalHeight</key>
				<integer>301</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xunbao_fx10041.png</key>
			<dict>
				<key>width</key>
				<integer>490</integer>
				<key>height</key>
				<integer>301</integer>
				<key>originalWidth</key>
				<integer>490</integer>
				<key>originalHeight</key>
				<integer>301</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>303</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xunbao_fx10042.png</key>
			<dict>
				<key>width</key>
				<integer>490</integer>
				<key>height</key>
				<integer>301</integer>
				<key>originalWidth</key>
				<integer>490</integer>
				<key>originalHeight</key>
				<integer>301</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>606</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xunbao_fx10043.png</key>
			<dict>
				<key>width</key>
				<integer>490</integer>
				<key>height</key>
				<integer>301</integer>
				<key>originalWidth</key>
				<integer>490</integer>
				<key>originalHeight</key>
				<integer>301</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>303</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xunbao_fx10044.png</key>
			<dict>
				<key>width</key>
				<integer>490</integer>
				<key>height</key>
				<integer>301</integer>
				<key>originalWidth</key>
				<integer>490</integer>
				<key>originalHeight</key>
				<integer>301</integer>
				<key>x</key>
				<integer>492</integer>
				<key>y</key>
				<integer>606</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>fx_lottery_box8.png</string>
			<key>realTextureFileName</key>
			<string>fx_lottery_box8.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>