<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_part6.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>font_unlock.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>font_attacking.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>107</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>font_attack.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>237</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>btn_yellow2.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>189</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>193</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>btn_yellow1.png</key>
			<dict>
				<key>width</key>
				<integer>235</integer>
				<key>height</key>
				<integer>242</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>201</integer>
				<key>y</key>
				<integer>87</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>btn_blue2.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>189</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>168</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>btn_blue1.png</key>
			<dict>
				<key>width</key>
				<integer>236</integer>
				<key>height</key>
				<integer>242</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>438</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>btn_green2.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>189</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>336</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>btn_green1.png</key>
			<dict>
				<key>width</key>
				<integer>236</integer>
				<key>height</key>
				<integer>242</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>676</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>btn_part5.png</key>
			<dict>
				<key>width</key>
				<integer>231</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>504</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>btn_part4.png</key>
			<dict>
				<key>width</key>
				<integer>221</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>221</integer>
				<key>originalHeight</key>
				<integer>221</integer>
				<key>x</key>
				<integer>737</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>btn_part3.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>365</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>btn_part2.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>187</integer>
				<key>originalHeight</key>
				<integer>187</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>503</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>btn_part1.png</key>
			<dict>
				<key>width</key>
				<integer>283</integer>
				<key>height</key>
				<integer>286</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>692</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ship_atn0.png</string>
			<key>realTextureFileName</key>
			<string>ship_atn0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>