<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rank_lihgt10007.png</key>
			<dict>
				<key>width</key>
				<integer>416</integer>
				<key>height</key>
				<integer>366</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>rank_lihgt10008.png</key>
			<dict>
				<key>width</key>
				<integer>415</integer>
				<key>height</key>
				<integer>366</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>418</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>rank_lihgt10009.png</key>
			<dict>
				<key>width</key>
				<integer>412</integer>
				<key>height</key>
				<integer>366</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>368</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>rank_lihgt10010.png</key>
			<dict>
				<key>width</key>
				<integer>412</integer>
				<key>height</key>
				<integer>366</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>414</integer>
				<key>y</key>
				<integer>368</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>rank_lihgt10015.png</key>
			<dict>
				<key>width</key>
				<integer>402</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>736</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>-26</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ui_rank_update1.png</string>
			<key>realTextureFileName</key>
			<string>ui_rank_update1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>