<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>scene4_part1.png</key>
			<dict>
				<key>width</key>
				<integer>468</integer>
				<key>height</key>
				<integer>288</integer>
				<key>originalWidth</key>
				<integer>468</integer>
				<key>originalHeight</key>
				<integer>288</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene5_part8.png</key>
			<dict>
				<key>width</key>
				<integer>684</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>684</integer>
				<key>originalHeight</key>
				<integer>213</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene5_part7.png</key>
			<dict>
				<key>width</key>
				<integer>397</integer>
				<key>height</key>
				<integer>323</integer>
				<key>originalWidth</key>
				<integer>397</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene5_part13.png</key>
			<dict>
				<key>width</key>
				<integer>379</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>379</integer>
				<key>originalHeight</key>
				<integer>183</integer>
				<key>x</key>
				<integer>470</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene5_part12.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>227</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>830</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene5_part10.png</key>
			<dict>
				<key>width</key>
				<integer>314</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>314</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene5_part9.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>686</integer>
				<key>y</key>
				<integer>185</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene5_part3.png</key>
			<dict>
				<key>width</key>
				<integer>301</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>301</integer>
				<key>originalHeight</key>
				<integer>237</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>708</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene5_part4.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>182</integer>
				<key>x</key>
				<integer>686</integer>
				<key>y</key>
				<integer>298</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>main_scene50.png</string>
			<key>realTextureFileName</key>
			<string>main_scene50.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>