<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>scene3_part18.png</key>
			<dict>
				<key>width</key>
				<integer>468</integer>
				<key>height</key>
				<integer>288</integer>
				<key>originalWidth</key>
				<integer>468</integer>
				<key>originalHeight</key>
				<integer>288</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene3_part16.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>341</integer>
				<key>originalHeight</key>
				<integer>183</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>scene3_part15.png</key>
			<dict>
				<key>width</key>
				<integer>319</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>319</integer>
				<key>originalHeight</key>
				<integer>186</integer>
				<key>x</key>
				<integer>470</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene3_part17.png</key>
			<dict>
				<key>width</key>
				<integer>442</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>454</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>scene3_part12.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>49</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>467</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene3_part13.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>470</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene3_part14.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>791</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene3_part11.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene3_part6.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>146</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>624</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene3_part7.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>791</integer>
				<key>y</key>
				<integer>69</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene3_part8.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>903</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene3_part10.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>470</integer>
				<key>y</key>
				<integer>241</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene3_part9.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>791</integer>
				<key>y</key>
				<integer>160</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>scene3_part5.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>331</integer>
				<key>originalWidth</key>
				<integer>337</integer>
				<key>originalHeight</key>
				<integer>337</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>496</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>scene2_part5.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>266</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>829</integer>
				<key>offsetX</key>
				<real>17.5</real>
				<key>offsetY</key>
				<real>19</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>main_scene30.png</string>
			<key>realTextureFileName</key>
			<string>main_scene30.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>