<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx005_fort0001.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fx005_fort0002.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>174</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fx005_fort0003.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fx005_fort0004.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>522</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fx005_fort0005.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>696</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fx01_head_0001.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>527</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fx01_head_0002.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>629</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fx01_head_0003.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>527</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fx01_head_0008.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>731</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fx01_head_0004.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>629</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fx01_head_0005.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>527</integer>
				<key>y</key>
				<integer>304</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fx01_head_0006.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>833</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fx01_head_0007.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>870</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>skill_head509010.png</string>
			<key>realTextureFileName</key>
			<string>skill_head509010.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>