<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>energon02_r_0029.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>energon02_r_0028.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>134</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>energon02_r_0027.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>268</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>energon02_r_0026.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>130</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>energon02_r_0025.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>263</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>energon02_r_0024.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>133</integer>
				<key>y</key>
				<integer>134</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>energon02_r_0001.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>133</integer>
				<key>y</key>
				<integer>261</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>energon02_r_0002.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>394</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>energon02_r_0003.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>265</integer>
				<key>y</key>
				<integer>134</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>energon02_r_0004.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>133</integer>
				<key>y</key>
				<integer>376</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>energon02_r_0005.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>265</integer>
				<key>y</key>
				<integer>249</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>energon02_r_0006.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>265</integer>
				<key>y</key>
				<integer>364</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>energon02_r_0007.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>402</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>energon02_r_0008.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>402</integer>
				<key>y</key>
				<integer>115</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>energon02_r_0009.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>534</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>energon02_r_0010.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>397</integer>
				<key>y</key>
				<integer>229</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>energon02_r_0011.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>534</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>energon02_r_0012.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>energon02_r_0013.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>397</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>energon02_r_0014.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>529</integer>
				<key>y</key>
				<integer>241</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>energon02_r_0015.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>119</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>energon02_r_0016.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>energon02_r_0017.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>620</integer>
				<key>y</key>
				<integer>309</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>energon02_r_0018.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>energon02_r_0019.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>509</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>energon02_r_0020.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>197</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>491</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>energon02_r_0021.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>197</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>703</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>energon02_r_0022.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>249</integer>
				<key>y</key>
				<integer>491</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>energon02_r_0023.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>703</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>energon02_p_0024.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>397</integer>
				<key>y</key>
				<integer>449</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>energon02_p_0025.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>901</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>energon02_p_0026.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>223</integer>
				<key>y</key>
				<integer>689</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>energon02_p_0027.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>560</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>anim_energon_red0.png</string>
			<key>realTextureFileName</key>
			<string>anim_energon_red0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>