<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>boss_part17.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>216</integer>
				<key>originalWidth</key>
				<integer>202</integer>
				<key>originalHeight</key>
				<integer>216</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss_skill2_50009.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>371</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>boss_skill2_50010.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>371</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>291</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss_skill2_50011.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>371</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>14.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss_skill2_50012.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>371</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss_skill2_50013.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>371</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss_skill2_50014.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>371</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>547</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>boss_skill2_50015.png</key>
			<dict>
				<key>width</key>
				<integer>334</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>371</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>160</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss_skill2_50017.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>371</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>455</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>boss_part16.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>331</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>331</integer>
				<key>x</key>
				<integer>547</integer>
				<key>y</key>
				<integer>67</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BOSS_a0006.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>BOSS_a0007.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>424</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>BOSS_a0008.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>344</integer>
				<key>y</key>
				<integer>306</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ship_boss5.png</string>
			<key>realTextureFileName</key>
			<string>ship_boss5.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>